[workspace]
resolver = "2"

members = [
    "smoke-tests",
    "transactional-tests",
]

# All workspace members should inherit these keys for package declarations.
[workspace.package]
edition = "2021"

[workspace.dependencies]
### Internal crate dependencies.
# Please do not add any test features here: they should be declared by the 
# individual crate.
aptos-cached-packages = { git = "https://github.com/simsekgokhan/zapatos.git", rev = "2f39208" }
aptos-debugger = { git = "https://github.com/simsekgokhan/zapatos.git", rev = "2f39208" }
aptos-forge = { git = "https://github.com/simsekgokhan/zapatos.git", rev = "2f39208" }
aptos-types = { git = "https://github.com/simsekgokhan/zapatos.git", rev = "2f39208" }
aptos-smoke-test = { package = "smoke-test", git = "https://github.com/simsekgokhan/zapatos.git", rev = "2f39208" }
#
# aptos-cached-packages = { path = "../zapatos/aptos-move/framework/cached-packages" }
# aptos-debugger = { path = "../zapatos/aptos-move/aptos-debugger/" }
# aptos-forge = { path = "../zapatos/testsuite/forge" }
# aptos-types = { path = "../zapatos/types" }
# aptos-smoke-test = { path = "../zapatos/testsuite/smoke-test/", package = "smoke-test" }

### External crate dependencies.
# Please do not add any test features here: they should be declared by the 
# individual crate.
# anyhow = "1.0.62"
# async-trait = "0.1.53"
base64 = "0.13.0"
# bcs = { git = "https://github.com/aptos-labs/bcs.git", rev = "d31fab9d81748e2594be5cd5cdf845786a30562d" }
# diesel = { version = "2.0.0", features = ["chrono", "postgres", "r2d2", "numeric", "serde_json"] }
# futures = "= 0.3.24" # Previously futures v0.3.23 caused some consensus network_tests to fail. We now pin the dependency to v0.3.24.
# hex = "0.4.3"
# num_cpus = "1.13.1"
# once_cell = "1.10.0"
# proptest = "1.0.0"
# rand = "0.7.3"
# regex = "1.5.5"
# reqwest = { version = "0.11.11", features = ["blocking", "cookies", "json", "stream"] }
# serde_json = { version = "1.0.81", features = ["preserve_order"] }
# serde_yaml = "0.8.24"
tokio = { version = "1.21.0", features = ["full"] }
# url = { version = "2.2.2", features = ["serde"] }

### MOVE DEPENDENCIES
# move-abigen = { path = "third_party/move/move-prover/move-abigen" }
# move-binary-format = { path = "third_party/move/move-binary-format" }
# ... see full list in Aptos repo


[profile.release]
opt-level = 'z'     # Optimize for size.
lto = true          # Enable Link Time Optimization
codegen-units = 1   # Reduce number of codegen units to increase optimizations.
panic = 'abort'     # Abort on panic

[profile.bench]
debug = true

[profile.dev]
opt-level = 0
debug = true
split-debuginfo = "unpacked" # Requires rustc 1.51
lto = false
incremental = true

# # This is a temporary workaround to avoid multiple library
# # definitions for LZ4 (caused by rust-rocksdb).
# # This will be removed once our pull requests land.
# # https://github.com/rust-rocksdb/rust-rocksdb/issues/666
# [patch.crates-io]
# rocksdb = { git = 'https://github.com/aptos-labs/rust-rocksdb' }
# serde-reflection = { git = "https://github.com/aptos-labs/serde-reflection", rev = "839aed62a20ddccf043c08961cfe74875741ccba" }
