name: rust ci

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"
    branches: ["*"]
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - "release**"
      - "main"
env:
  DIEM_FORGE_NODE_BIN_PATH: ${{github.workspace}}/diem-node
  LIBRA_CI: 1
  MODE_0L: "TESTNET"
  RUST_MIN_STACK: 104857600

jobs:
  build-framework:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env
      - name: build framework
        working-directory: ./framework
        run: cargo r release

      - uses: actions/upload-artifact@master
        with:
          name: framework-build
          path: framework/*
  types:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env

      # fail fast if types doesnt compile, everything else will fail.
      - name: types
        working-directory: ./types
        run: cargo test --no-fail-fast
  wallet:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env
      - name: wallet
        if: always()
        working-directory: ./tools/wallet
        run: cargo test --no-fail-fast

# NOTE: all jobs below need the fresh framework build
  smoke:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env

      # make sure we have a fresh framework build
      - uses: actions/download-artifact@master
        with:
          name: framework-build
          path: framework/
      # Check test suite meta tests
      - name: smoke-tests # NOTE: needs working DIEM_FORGE_NODE_BIN_PATH
        if: always()
        working-directory: ./smoke-tests
        run: cargo test --no-fail-fast

  query:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env

      - uses: actions/download-artifact@master
        with:
          name: framework-build
          path: framework/
      # Tools tests (some use smoke-tests)
      - name: query
        if: always()
        working-directory: ./tools/query
        run: cargo test --no-fail-fast

  genesis:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env
      - uses: actions/download-artifact@master
        with:
          name: framework-build
          path: framework/
      - name: genesis
        if: always()
        working-directory: ./tools/genesis
        run: cargo test --no-fail-fast

  rescue:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env
      - uses: actions/download-artifact@master
        with:
          name: framework-build
          path: framework/
      - name: rescue
        if: always()
        working-directory: ./tools/rescue
        run: cargo test --no-fail-fast
  tower:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env
      - uses: actions/download-artifact@master
        with:
          name: framework-build
          path: framework/
      - name: tower
        if: always()
        working-directory: ./tools/tower
        run: cargo test --no-fail-fast

  txs:
    needs: [build-framework]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env
      - uses: actions/download-artifact@master
        with:
          name: framework-build
          path: framework/
      - name: txs
        if: always()
        working-directory: ./tools/txs
        # NOTE: upgrade tests which compile Move code, and then submit in the same thread will cause a stack overflow with the default rust stack size.
        run: RUST_MIN_STACK=104857600 cargo test --no-fail-fast
