name: rust ci

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+rc[0-9]+'
    branches:
      - 'release**'
      - 'main'
      - 'ci'
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - 'release**'
      - 'main'
env:
  DIEM_FORGE_NODE_BIN_PATH: ${{github.workspace}}/diem-node
  LIBRA_CI: 1
  MODE_0L: "TESTNET"

jobs:
  rust-tests:
    runs-on: self-hosted
    steps:
    # # NOTE: for debugging CI this allow shell access to github runner. Will print out tmate.io terminal url
    # - name: Setup tmate session
    #   uses: mxschmitt/action-tmate@v3
    #   with:
    #     detached: true
    #   # timeout-minutes: 15

    - uses: actions/checkout@v3
    - name: setup env
      uses: ./.github/actions/build_env

    - name: install diem-node (for smoke tests)
      run: >
        wget -O $DIEM_FORGE_NODE_BIN_PATH https://github.com/0LNetworkCommunity/diem/releases/latest/download/diem-node &&
        sudo chmod 755 $DIEM_FORGE_NODE_BIN_PATH &&
        echo $DIEM_FORGE_NODE_BIN_PATH &&
        ls -l $DIEM_FORGE_NODE_BIN_PATH

    - name: maybe use sccache read/write secret
      if: ${{ secrets.AWS_ACCESS_KEY_ID != 0 && github.event_name != "pull_request"}}
      shell: bash
      run: >
          echo "AWS_ACCESS_KEY_ID=${{secrets.AWS_ACCESS_KEY_ID}}" >> "$GITHUB_ENV" &&
          echo "AWS_SECRET_ACCESS_KEY= ${{secrets.AWS_SECRET_ACCESS_KEY}}" >> "$GITHUB_ENV"

    # fail fast if types doesnt compile, everything else will fail.
    - name: types
      working-directory: ./types
      run: cargo test --no-fail-fast --target x86_64-unknown-linux-gnu

    - name: wallet
      if: always()
      working-directory: ./tools/wallet
      run: cargo test --no-fail-fast

    # Check test suite meta tests
    - name: smoke-tests # NOTE: needs working DIEM_FORGE_NODE_BIN_PATH
      if: always()
      working-directory: ./smoke-tests
      run: cargo test --no-fail-fast

    # Tools tests (some use smoke-tests)
    - name: query
      if: always()
      working-directory: ./tools/query
      run: cargo test --no-fail-fast

    - name: genesis
      if: always()
      working-directory: ./tools/genesis
      run: cargo test --no-fail-fast

    - name: tower
      if: always()
      working-directory: ./tools/tower
      run: cargo test --no-fail-fast

    - name: txs
      if: always()
      working-directory: ./tools/txs
      run: cargo test --no-fail-fast