name: cleanliness
on:
  push:
    branches: ["*"]
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - 'release**'
      - 'main'
env:
  SCCACHE_BUCKET: ubuntu-libra
  SCCACHE_ENDPOINT: https://afcdb03dd0764818ac9aec7fe0c0b8b5.r2.cloudflarestorage.com/ubuntu-libra
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
  SCCACHE_REGION: auto

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup env
        uses: ./.github/actions/build_env

      - name: set sccache
        # don't do this before test because rust tools may not build inluding sccache itself.
        shell: bash
        run: export RUSTC_WRAPPER=sccache

      - name: format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --tests -- -D warnings