name: formal verification
on:
  push:
    branches: ["*"]
    tags:
    - '[0-9]+.[0-9]+.[0-9]+'
    - '[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+'
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - 'release**'
      - 'main'

env:

jobs:
  formal:
    runs-on: ubuntu-latest
    steps:
        # NOTE: for debugging CI this allow shell access to github runner. Will print out tmate.io terminal url
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          detached: true
        timeout-minutes: 15

      - uses: actions/checkout@v3

      # - name: setup env
      #   uses: ./.github/actions/build_env

      - name: install prover dependencies
        run: >
            cd .. &&
            git clone https://github.com/0LNetworkCommunity/diem.git &&
            cd diem &&
            ./scripts/dev_setup.sh -ypb

      - name: install diem (for move tests)
        run: >
          wget -O ${{github.workspace}}/diem https://github.com/0LNetworkCommunity/diem/releases/latest/download/diem &&
          sudo chmod 755 ${{github.workspace}}/diem

      - name: prove
        run: diem move prove -f version
        working-directory: ./framework/libra-framework
