# testing future versions of rust
name: rust-versions
on:
  push:
    branches: ["ci-bins*"] # glob pattern to allow slash /
  schedule:
    - cron: "30 00 * * *"

jobs:
  builds:
    strategy:
      matrix:
        channel: ["stable", "beta", "nightly"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: setup env
        uses: ./.github/actions/build_env

      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{matrix.channel}}
          override: true

      - name: debug build
        run: cargo b -p libra
